@mixin icon {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
}

@mixin icon-img {
    width: 19px;
    height: 19px;
    color: #ffff;
    margin-right: 15px;
    margin-left: 30px;
}

@mixin icon-link {
    background-color: transparent;
    outline: none;
    border: none;
    color: #ffff;
    text-decoration: none;
    margin-right: 0px;
    font-size: 15px;
    &:hover{
        color: #be3144;
    }
}

input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
  }
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent}
input[type="date"]::-webkit-calendar-picker-indicator { 
     margin-right: 14px}
select {
    -webkit-appearance: none;
    -moz-appearance: none;

}
#blocksList{
    margin-left: -20px;
}
#blocksHeadlinesInnerDiv{
    margin-left: 20px;
}
#formTextArea{
    width: 502px;
}
#resize-mailInput{
    display: none;
}

#resize-phoneInput{
    display: none;
}

#resize-dateInput{
    display: none;
}

#resizeFilterSubmitBtn{
    display: none;
}

#resizeInnerContainer{
    display: none;
}

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    justify-content: center;
}

nav {
    width: 300px;
    height: 100vh;
    background: #30323A;
    position: sticky;
    top: 0;


    .nav__logo {
        height: 30px;
        font-family: "Parkway Lush";
        color: #ffff;
        padding-top: 40px;
        padding-bottom: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .megaphone {
        @include icon();
        
        .megaphone-icon{
            @include icon-img();
        }

        .megaphone-link{
            @include icon-link();
        }
    }

    .tune {
        @include icon();
        
        .tune-icon{
            @include icon-img();
        }

        .tune-link{
            @include icon-link();
        }
    }

    .lupe {
        @include icon();
        
        .lupe-icon{
            @include icon-img();
        }

        .lupe-link{
            @include icon-link();
        }
    }

    .plus {
        @include icon();
        
        .plus-icon{
            @include icon-img();
        }

        .plus-link{
            @include icon-link();
        }
    }

    .bust {
        @include icon();
        
        .bust-icon{
            @include icon-img();
        }

        .bust-link{
            @include icon-link();
        }
    }
}

.main {
    width: 100%;
    background: #EFEFEF;

    .resizeNav{
        width: 100%;
        background-color: #30323A;
        position: sticky;
        top: 0;
        z-index: 2;
        display: none;

        .resizeNavInnerDiv{
            display: flex;
            align-items: center;
            height: 80px;

            .nav__logo{
                height: 29px;
                font-family: "Parkway Lush";
                margin-left: 30px;
            }
    
            .menuIcon{
                background-color: "transparent";
                margin-left: auto;
                margin-right: 20px;
                width: 45px;
                height: 45px;
            }
        }
    }

    .resizeLinkBar{
        width: 100%;
        height: auto;
        display: none;


            .resize-megaphone{
                display: flex;
                margin-left: 20px;
                margin-bottom: 15px;
                padding-top: 5px;
                

                .resize-megaphone-icon{
                    margin-right: 10px;
                }

                .resize-megaphone-link{
                    border: none;
                    outline: none;
                    background-color: #30323A;
                    color: #FFFF;
                    &:hover{
                        color: #8f1f2e;
                    }
                }
            }

            .resize-lupe{
                display: flex;
                margin-left: 20px;
                margin-bottom: 15px;
                padding-top: 0px;
                

                .resize-lupe-icon{
                    margin-right: 12px;
                }

                .resize-lupe-link{
                    text-decoration: none;
                    font-size: 14px;
                    border: none;
                    outline: none;
                    background-color: #30323A;
                    color: #FFFF;
                    &:hover{
                        color: #8f1f2e;
                    }
                }
            }
            

            .resize-plus{
                margin-left: 17px;
                padding-bottom: 20px;
                display: flex;


                .resize-plus-icon{
                    margin-right: 8px;
                }

                .resize-plus-link{
                    border: none;
                    outline: none;
                    background-color: #30323A;
                    color: #FFFF;
                    &:hover{
                        color: #8f1f2e;
                    }
                }
            }
        }

    // user reation not ready yet

    // .main__login{
    //     display: flex;
    //     right: 0;
    //     float: right;
    //     align-items: center;
        

    //     .loged-as{
    //         padding-right: 10px;
    //     }

    //     .log-in-out{
    //         width: 88px;
    //         height: 32px;
    //         background-color: #363840;
    //         color: #FFFFFFDE;
    //         margin-right: 10px;
    //         &:hover{
    //             background-color: #8f1f2e;
    //         }
    //     }
    // }

    .main__description{
        padding-left: 20px;
        padding-top: 70px;
        margin-right: 10px;

        .main__description__title{  
            margin-bottom: 5px;
            font-size: 20px;
            color: #be3144;
        }

        .main__description__sub-title{
            margin-top: 0px;
        }
    }

    .main__table{
        padding-top: 25px;
        margin-right: 10px;


        .blocksHolder {

            .table-form{

                .submitBtn {
                    background-color: #363840;
                    &:hover{
                        background-color: #8f1f2e;
                    }
                }    
            }
        }
    }
}


@media only screen and (min-width: 1700px) {
    body {
      width: 80vw;
      margin: auto;
    }
}


@media only screen and (max-width: 1000px) {
    nav {
        display: none;
    }
    #resizeNav{
        display: block;
    }
    #resizeInnerContainer{
        display: block;
    }
    #resizeLinkBar{
        display: block;
    }
}

@media only screen and (max-width: 680px) {
    #resize-mailInput{
        display: block;
    }
    
    #resize-phoneInput{
        display: block;
    }
    
    #resize-dateInput{
        display: block;
    }
    #mailInputDiv{
        display: none;
    }
    #phoneInputDiv{
        display: none;
    }
    #dateInputDiv{
        display: none;
    }
    #formTextArea{
        width: 185px;
    }
    #addBlockFormDiv{
        margin-left: 18%;
    }
    #filtersForm{
        justify-content: space-evenly;
    }
}


@media only screen and (max-width: 550px) {
    #blueDiv{
        padding-right: 4px;
    }
    #hiddenAreaEmailAndPhoneBlock{
        width: 100px;
    }
    #submitBtn{
        display: none;
    }
    #addBlockFormDiv{
        margin-left: 10%;
    }
    #mainTable{
        margin-right: 0px;
    }
    #cityInp{
        margin-right: 0px;
    }
    #blocksList{
        margin-left: -40px;
    }
    #blocksHeadlinesInnerDiv{
        margin-left: 0px;
    }
    #resizeFilterSubmitBtn{
        display: block;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        background-color: #363840;
        color: #ffff;
        outline: none;
        &:hover{
            background-color: #8f1f2e;
        }
    }
}


@media only screen and (max-width: 430px) {
    body{
        zoom: 0.7;
    }
    #filtersForm{
        zoom: 0.9;
    }
}