input[type="text"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 14px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#blocksList {
  margin-left: -20px;
}

#blocksHeadlinesInnerDiv {
  margin-left: 20px;
}

#formTextArea {
  width: 502px;
}

#resize-mailInput {
  display: none;
}

#resize-phoneInput {
  display: none;
}

#resize-dateInput {
  display: none;
}

#resizeFilterSubmitBtn {
  display: none;
}

#resizeInnerContainer {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.body {
  display: flex;
  justify-content: center;
}

nav {
  width: 300px;
  height: 100vh;
  background: #30323A;
  position: sticky;
  top: 0;
}

nav .nav__logo {
  height: 30px;
  font-family: "Parkway Lush";
  color: #ffff;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav .megaphone {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav .megaphone .megaphone-icon {
  width: 19px;
  height: 19px;
  color: #ffff;
  margin-right: 15px;
  margin-left: 30px;
}

nav .megaphone .megaphone-link {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffff;
  text-decoration: none;
  margin-right: 0px;
  font-size: 15px;
}

nav .megaphone .megaphone-link:hover {
  color: #be3144;
}

nav .tune {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav .tune .tune-icon {
  width: 19px;
  height: 19px;
  color: #ffff;
  margin-right: 15px;
  margin-left: 30px;
}

nav .tune .tune-link {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffff;
  text-decoration: none;
  margin-right: 0px;
  font-size: 15px;
}

nav .tune .tune-link:hover {
  color: #be3144;
}

nav .lupe {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav .lupe .lupe-icon {
  width: 19px;
  height: 19px;
  color: #ffff;
  margin-right: 15px;
  margin-left: 30px;
}

nav .lupe .lupe-link {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffff;
  text-decoration: none;
  margin-right: 0px;
  font-size: 15px;
}

nav .lupe .lupe-link:hover {
  color: #be3144;
}

nav .plus {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav .plus .plus-icon {
  width: 19px;
  height: 19px;
  color: #ffff;
  margin-right: 15px;
  margin-left: 30px;
}

nav .plus .plus-link {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffff;
  text-decoration: none;
  margin-right: 0px;
  font-size: 15px;
}

nav .plus .plus-link:hover {
  color: #be3144;
}

nav .bust {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav .bust .bust-icon {
  width: 19px;
  height: 19px;
  color: #ffff;
  margin-right: 15px;
  margin-left: 30px;
}

nav .bust .bust-link {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffff;
  text-decoration: none;
  margin-right: 0px;
  font-size: 15px;
}

nav .bust .bust-link:hover {
  color: #be3144;
}

.main {
  width: 100%;
  background: #EFEFEF;
}

.main .resizeNav {
  width: 100%;
  background-color: #30323A;
  position: sticky;
  top: 0;
  z-index: 2;
  display: none;
}

.main .resizeNav .resizeNavInnerDiv {
  display: flex;
  align-items: center;
  height: 80px;
}

.main .resizeNav .resizeNavInnerDiv .nav__logo {
  height: 29px;
  font-family: "Parkway Lush";
  margin-left: 30px;
}

.main .resizeNav .resizeNavInnerDiv .menuIcon {
  background-color: "transparent";
  margin-left: auto;
  margin-right: 20px;
  width: 45px;
  height: 45px;
}

.main .resizeLinkBar {
  width: 100%;
  height: auto;
  display: none;
}

.main .resizeLinkBar .resize-megaphone {
  display: flex;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-top: 5px;
}

.main .resizeLinkBar .resize-megaphone .resize-megaphone-icon {
  margin-right: 10px;
}

.main .resizeLinkBar .resize-megaphone .resize-megaphone-link {
  border: none;
  outline: none;
  background-color: #30323A;
  color: #FFFF;
}

.main .resizeLinkBar .resize-megaphone .resize-megaphone-link:hover {
  color: #8f1f2e;
}

.main .resizeLinkBar .resize-lupe {
  display: flex;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-top: 0px;
}

.main .resizeLinkBar .resize-lupe .resize-lupe-icon {
  margin-right: 12px;
}

.main .resizeLinkBar .resize-lupe .resize-lupe-link {
  text-decoration: none;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #30323A;
  color: #FFFF;
}

.main .resizeLinkBar .resize-lupe .resize-lupe-link:hover {
  color: #8f1f2e;
}

.main .resizeLinkBar .resize-plus {
  margin-left: 17px;
  padding-bottom: 20px;
  display: flex;
}

.main .resizeLinkBar .resize-plus .resize-plus-icon {
  margin-right: 8px;
}

.main .resizeLinkBar .resize-plus .resize-plus-link {
  border: none;
  outline: none;
  background-color: #30323A;
  color: #FFFF;
}

.main .resizeLinkBar .resize-plus .resize-plus-link:hover {
  color: #8f1f2e;
}

.main .main__description {
  padding-left: 20px;
  padding-top: 70px;
  margin-right: 10px;
}

.main .main__description .main__description__title {
  margin-bottom: 5px;
  font-size: 20px;
  color: #be3144;
}

.main .main__description .main__description__sub-title {
  margin-top: 0px;
}

.main .main__table {
  padding-top: 25px;
  margin-right: 10px;
}

.main .main__table .blocksHolder .table-form .submitBtn {
  background-color: #363840;
}

.main .main__table .blocksHolder .table-form .submitBtn:hover {
  background-color: #8f1f2e;
}

@media only screen and (min-width: 1700px) {
  body {
    width: 80vw;
    margin: auto;
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }
  #resizeNav {
    display: block;
  }
  #resizeInnerContainer {
    display: block;
  }
  #resizeLinkBar {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  #resize-mailInput {
    display: block;
  }
  #resize-phoneInput {
    display: block;
  }
  #resize-dateInput {
    display: block;
  }
  #mailInputDiv {
    display: none;
  }
  #phoneInputDiv {
    display: none;
  }
  #dateInputDiv {
    display: none;
  }
  #formTextArea {
    width: 185px;
  }
  #addBlockFormDiv {
    margin-left: 18%;
  }
  #filtersForm {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 550px) {
  #blueDiv {
    padding-right: 4px;
  }
  #hiddenAreaEmailAndPhoneBlock {
    width: 100px;
  }
  #submitBtn {
    display: none;
  }
  #addBlockFormDiv {
    margin-left: 10%;
  }
  #mainTable {
    margin-right: 0px;
  }
  #cityInp {
    margin-right: 0px;
  }
  #blocksList {
    margin-left: -40px;
  }
  #blocksHeadlinesInnerDiv {
    margin-left: 0px;
  }
  #resizeFilterSubmitBtn {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #363840;
    color: #ffff;
    outline: none;
  }
  #resizeFilterSubmitBtn:hover {
    background-color: #8f1f2e;
  }
}

@media only screen and (max-width: 430px) {
  body {
    zoom: 0.7;
  }
  #filtersForm {
    zoom: 0.9;
  }
}
